<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
<link th:href="@{/css/reset2.css}" rel="stylesheet" />
<link th:href="@{/css/reset.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/footer.css}" rel="stylesheet" />
<link th:href="@{/css/index.css}" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div id="container">
		<header id="index_header_con"> 
			<div class="index_hed_box">
				<div class="index_hed_tag1 tag"><a href="#">11</a></div>
				<div class="index_hed_tag2 tag"><a href="#">22</a></div>
				<div class="index_hed_tag3 tag"><a href="#">33</a></div>
				<div class="index_hed_tag4 tag"><a href="#">1441</a></div>
			</div>
		</header>
		<main id="index_main_con">
			<div class="index_main_box">
				<div></div>
			</div>
		
		</main>
		<footer id="index_footer_con"></footer>
	</div>


</body>
</html>