#container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: black;
}

#index_main_con {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #e2e2e2;
}

.index_main_box {
	width:1200px;
	display: flex;
	align-items: center;
	justify-content: center;
}